<div class="container">

    <header>
        <h1>Eat-Da-Burger</h1>
        <img src="/assets/img/burger.png" alt="Burger Image" height="250">
    </header>

    <div class="row1">
        <div class="col-4">
            {{#each burgers}}
            {{#unless devoured}}
            <p>
              <span>{{this.id}}</span>
                <span>{{this.burger_name}}</span>
                <button data-id="{{this.id}}" class="devour-burger btn">Devour!</button>
            </p>
            {{/unless}}
            {{/each}}
        </div>

        <div class="col-4">
            {{#each burgers}}
            {{#if devoured}}
            <p>
              <span>{{this.id}}</span>
              <span>{{this.burger_name}}</span>
            </p>
            {{/if}}
            {{/each}}
        </div>
    </div>

    <div class="row2">
        <div class="col-4 ">
            <form id="add-form">
                <div>
                    <textarea class="form-control" id="add-burger"></textarea>
                    <button type="submit" class="add-btn">Submit</button><br>
                    <label for="burger" class="form">Add a burger.</label>
                </div>
            </form>
        </div>
    </div>
</div>